.orange{
    background-color: orangered;
}
.blue{
    background-color: blue;
}
.purple{
    background-color: purple;
}
.bold{
    font-weight: bold;
}
.yellow{
    background-color: rgb(213, 240, 7);
}